language: node_js
os:
  - linux
  - osx
node_js:
  - 12
  - 13
  - 14
  - 15
  - 16
env: TEST_SUITE=unit
matrix:
  exclude:
    - os: linux
      node_js: 12
  include:
    - os: linux
      node_js: 12
      env: TEST_SUITE=full-ci
script: npm run-script $TEST_SUITE
after_success:
  - if [ $TEST_SUITE = full-ci ]; then npm run coveralls; fi
cache:
  directories:
    - node_modules
