sudo: false
language: node_js
node_js:
  - "0.12"
  - "io.js"
  - "4"
  - "5"
  - "6"
  - "7"
matrix:
  include:
    - node_js: "7"
      env: TEST_SUITE=lint
env:
  - TEST_SUITE=unit
script: npm run-script $TEST_SUITE
after_success:
  - npm run coveralls
